.detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 20px
}

.describeContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    max-height: 672px;
    align-items: center;
    max-width: 536px;
}

.button {
    background: rgba(237, 237, 237, 1);
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 25px;
    cursor: pointer; 
}

.buttonBuy {
    width: 200px;
    height: 56px;
}

.button:hover {
    background-color: rgba(160, 160 , 160);
    border-color: rgb(0, 0, 0); 
}

.image {
    width: 536px;
    height: 516px;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.price {
    font-size: 32px;
    font-weight: 600;
}

.describe {
    font-size: 20px;
}

.buttonBack {
    position: absolute;   /* Абсолютное позиционирование */
    top: 20px;            /* Отступ от верхнего края */
    left: 20px;           /* Отступ от левого края */
    width: 100px;
    height: 40px;
    background: rgba(237, 237, 237, 1);
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 25px;
    cursor: pointer; 
}

@media (max-width: 1324px) {
    .infoContainer {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .image {
        width: 80%;
        height: auto;
    }
}